body {
    background: #eee;
}

#content {
    height: 78vh;
    resize: none;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#content:focus {
    outline: none;
}

#drawer-btn {
    position: absolute;
    top: 40%;
    bottom: 50%;
    left: 23%;
}

#settings-tab, #dashboard {
    padding: 1rem;
}

#type-pad textarea {
    padding: 10px;
}

#tools li {
    margin: 0.5rem 1.2rem !important;
}

#toolbar {
    text-align: left !important;
}

#color-picker {
    display: none;
}

#user-prompt {
    display: none;
    background: #fafafa;
    border: 1px solid #ccc;
    border-radius: 10px;
    position: absolute;
    min-width: 30em;
    padding: 1rem;
    top: 5%;
    right: 2%;
    box-shadow: 2px 2px 8px rgb(0, 0, 0, 0.2);
}

#user-prompt p {
    font-size: 1.35rem;
}

#user-prompt button {
    font-size: 1.1rem;   
}

.setting {
    margin: 1rem;
}

.setting label i {
    margin: 7px;
}

/* Drawer transition */
.close-drawer div {
    display: none !important;
}

.close-drawer #drawer-btn {
    left: 0% !important;
}

.full-width {
    width: 99% !important;
    margin: 5px auto !important;
}
