body {
    background: #eee;
}

#content {
    height: 78vh;
    resize: none;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#content:focus {
    outline: none;
}

#settings-tab, #dashboard {
    padding: 1rem;
}

.setting {
    margin: 1rem;
}

.setting label i {
    margin: 7px;
}

#type-pad textarea {
    padding: 10px;
}
