body {
    background: #eee;
}

#content {
    height: 78vh;
    resize: none;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#content:focus {
    outline: none;
}

#drawer-btn {
    position: absolute;
    top: 40%;
    bottom: 50%;
    left: 23%;
}

#settings-tab, #dashboard {
    padding: 1rem;
}

.setting {
    margin: 1rem;
}

.setting label i {
    margin: 7px;
}

#type-pad textarea {
    padding: 10px;
}

#toolbar {
    text-align: left !important;
}

#color-picker {
    display: none;
}

/* Drawer transition */
.close-drawer div {
    display: none !important;
}

.close-drawer #drawer-btn {
    left: 0% !important;
}

.full-width {
    width: 99% !important;
    margin: 5px auto !important;
}
